name: Generate changelog
on:
  pull_request:
    branches: [ main ]

jobs:
  runs-on: ubuntu-latest
  steps:
    - name: Check out repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Generate changelog
      uses: orhun/git-cliff-action@v4
      with:
        config: cliff.toml
        args: --verbose
      env:
        GITHUB_REPO: ${{ github.repository }}
